# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - oldrel
sudo: false
cache: packages
addons:
   apt:
    packages:
      - librdf0-dev
      - libnetcdf-dev
      - r-cran-ncdf4
      - libudunits2-dev
